// COLORS
$color-green: #00a19a;
$color-green-dark: #00726c;
$color-green-light: #e8faf9;
$color-blue: #69acdf;
$color-red: #de756f;
$color-pink: #df829d;
$color-yellow: #e9b646;

$color-black: #000000;
$color-dark: rgb(63, 63, 63);
$color-grey: rgb(134, 134, 134);
$color-light: #fafafa;
$color-white: #ffffff;

// FONT
$default-font-size-S: 1.2rem;
$default-font-size: 2rem;
$default-font-size-L: 2.4rem;

// OTHER
$video-width: 100%;
