.wrapper {
  &__video {
    margin: 2rem;
    width: 90rem;
    height: 50.63rem;

    max-width: 70vw;
    margin: 1rem 2rem;

    @include respond(tab-port) {
      max-width: 80vw;
      width: 80rem;
      height: 45rem;
    }

    @include respond(phone) {
      max-width: 90vw;
      width: 56rem;
      height: 31.5rem;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    margin: 1rem 2rem;
    width: 40rem;
    max-width: 90vw;

    &__img {
      width: 100%;
      max-width: 90vw;
      margin-bottom: 1rem;
      border: 2px solid $color-grey;
      border-radius: 5px;
    }

    &__text {
      font-size: $default-font-size-L;
    }
  }

  &__thumbnails {
    @include flex__row;
    align-items: flex-start;
    flex-wrap: wrap;

    &__item {
      width: 25rem;
      margin: 1rem 2rem;
      border: 2px solid $color-grey;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &__img {
      width: 100%;
    }
  }
}

.bullet__large {
  @include flex__row;
  font-family: 'Montserrat', sans-serif;
  background-color: $color-green;
  color: $color-white;
  font-size: 5rem;
  border-radius: 100rem;
  margin: 0 2rem;
  width: 13rem;
  height: 13rem;

  @include respond(tab-port) {
    width: 10rem;
    height: 10rem;
    font-size: 4rem;
  }

  @include respond(phone) {
    margin-bottom: 1rem;
  }
}

.training {
  margin-bottom: 5rem;
  &__item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: start;
    width: 100rem;
    max-width: 80vw;
    padding: 5rem 0;
    @include respond(tab-port) {
      grid-template-columns: initial;
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid $color-grey;
    }
    & h3 {
      margin: 0;
      @include respond(tab-port) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__text {
    & p {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
}

.learning {
  &__items {
    @include flex__row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100vw;
    @include respond(tab-port) {
      width: 60rem;
    }
  }

  &__item {
    @include flex__column;
    width: 25rem;
    margin: 2rem;
  }

  &__img {
    margin-bottom: 1rem;
  }

  &__text {
    text-align: center;
    font-size: $default-font-size;
  }
}
